<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Companies
      <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name:</strong>
      <%= @company.name %>
    </p>

    <p>
      <strong>Website:</strong>
      <%= @company.website %>
    </p>

    <p>
      <strong>Vertical:</strong>
      <%= @company.vertical %>
    </p>


    <table class="table table-striped">
      <thead>
      <tr>
        <th style="width: 10px">#</th>
        <th>Street</th>
        <th></th>
        <th>Vertical</th>
        <th style="width: 40px">Label</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @company.addresses.each_with_index do |address, index| %>
          <td>
            <td><%= index+1  %>.</td>
            <td><%= address.description %></td>
            <td><%= address.street %></td>
            <td><%= address.city %></td>
            <td><%= address.zip %></td>
            <td><%= address.country %></td>
            <td><span class="badge bg-yellow">70%</span></td>
          <td><%= link_to 'Show', address_path(address) %> |</td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <%= link_to 'Edit', edit_company_path(@company) %> |
    <%= link_to 'Back', companies_path %>

  </section>
  <!-- /.content -->
</div>
